@CHARSET "ISO-8859-1";

body {
	background-image: url("../images/bg-image.jpg");
	background-repeat: repeat-y;
	background-size: cover;
	/*	background: rgba(255, 255, 204,0.6); */
}

#products {
	margin-left: 10%;
}

#headerImage {
	height: 100%;
	width: 100%;
	
	 -webkit-filter: drop-shadow(3px 3px 0 yellow)
                  drop-shadow(-3px -3px 0 yellow);
  filter: drop-shadow(3px 3px 0 yellow) 
          drop-shadow(-3px -3px 0 yellow);
}
 
#headerSubtext {
	position: relative;
	z-index: 100;
	margin-top: -6%;
}

#moviesTable {
	margin-left: 10%;
	width: 80% !Important;
	float: left;
}

@font-face {
	font-family: 'sf_fedoraregular';
	src: url('../fonts/sf_fedora-webfont.eot');
	src: url('../fonts/sf_fedora-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/sf_fedora-webfont.woff2')
		format('woff2'), url('../fonts/sf_fedora-webfont.woff') format('woff'),
		url('../fonts/sf_fedora-webfont.ttf') format('truetype'),
		url('../fonts/sf_fedora-webfont.svg#sf_fedoraregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@fint-face {
	font-family: 'About You';
	src: url('../fonts/About You.ttf');
}

#logo {
	font-family: sf_fedoraregular;
	font-size: 72pt;
	color: #ff2d1c;
}

#logogradient .stop1 {
	stop-color: #ff2d1c;
}

#logogradient .stop2 {
	stop-color: #ff881c;
}

#logogradient .stop3 {
	stop-color: #f9f2e6;
}

#logogradient .stop4 {
	stop-color: #ffffff;
}

#svglogo {
	stroke: black;
	font-family: sf_fedoraregular;
}

#headerDiv {
	margin-left: 20%;
	margin-right: 20%;
	border: 1px solid orange;
	border-radius: 25px;
	background: rgba(128, 255, 128, 0.1);
}

#newFilmButton {
	margin-right: 2%;
	margin-left: 10%;
}

#tableImage {
	width: 46px;
	height: 68.25px;
}

#headerimage {
	margin-left: 20%;
}

.search {
	margin-left: 10%;
	width: 80%;
	background-color: #ffffff;
	border: 1px solid black;
/*	opacity: 0.6; */
	filter: alpha(opacity = 60);
}

.dataTables_length {
	margin-left: 10%;
	width: 80%;
	background-color: #ffffff;
	border: 1px solid black;
/*	opacity: 0.6; */
	filter: alpha(opacity = 60);
}

#leftMenuDiv {
	float: left;
	position: absolute;
	margin-top: 20%;
}

.container {
	float: left;
}

#moviesTable_paginate {
	width: 80%;
	margin-left: 10%;
	background-color: #ffffff;
	border: 1px solid black;
/*	opacity: 0.6; */	
	filter: alpha(opacity = 60);
}

#moviesTable_info {
	width: 80%;
	margin-left: 10%;
	background-color: #ffffff;
	border: 1px solid black;
/*	opacity: 0.6; */
	filter: alpha(opacity = 60);
}

#internalCoversDiv {
	float: left;
}

#carouselDiv {
	margin-left: 10%;
	padding-bottom: 50%;
	width: 80% !Important;
	float: left;
}

.imagesize {
	margin-left: 50%;
	margin-right: 50%;
	height: 200px;
	width: 200px;
}

#homeInfo {
	margin: 10%;
	border: 1px solid;
}

#tableDiv {
	background-color: #b3ccff;
	border: 1px solid black;
	opacity: 0.8;
	filter: alpha(opacity = 60);
}

#home {
	margin-left: 10%;
	background-color: #b3ccff;
	border: 1px solid black;
	opacity: 0.8;
	filter: alpha(opacity = 60);
}

#aboutPageImage {
	float:left;
	height: 350px;
	width: 200px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

footer {
	margin-top: 2%;
	margin-left: 10%;
	display: block;
	position: relative;
	border: 1px solid orange;
	border-radius: 25px;
	background: rgba(128, 255, 128, 0.1);
}

#nav-ul {
	margin-left: 10%;
	background: rgba(179, 179, 255, 0.2);
/*	font-family: sf_fedoraregular;
		color: red; */
}

#nav-ul li a {
	font-family: sf_fedoraregular;
	color: red;
	font-size: 25px;
	-webkit-text-stroke: 2px black;
}

div.container h3 {
	margin-left: 10%;
	font-family: sf_fedoraregular;
	color: red;
	font-size: 25px;
	-webkit-text-stroke: 2px black;
}

#home h2 {
	font-family: sf_fedoraregular;
	color: red;
	font-size: 40px;
	-webkit-text-stroke: 2px black;
}

footer p {
	text-align: center;
	font-family: sf_fedoraregular;
	color: red;
	font-size: 25px;
	-webkit-text-stroke: 2px black;
}

#homeInfo p {
	font-family: About You;
	color: black;
	font-size: 17px;
}

/* table#moviesTable tr.even td {
    background-color: #99ff99;
}

table#moviesTable tr.odd td {
    background-color: #ffff99;
}

 table#moviesTable tr.even:hover td {
    background-color: #99ff99;
}

table#moviesTable tr.odd:hover td {
    background-color: #ffff99;
} */